
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: white;
}
@font-face {
    font-family: 'MiaMa';
     src: url('../fonts/Miama.ttf');
  }
  .miama-font{
    font-family:'MiaMa';
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  /* shared style */
  .font-style{
    font-size: 14px;
    font-weight: normal;
    opacity: 50%;
    color: white;
  }
  .color-font{
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    font-size: 18px;
  }
  .display-flex{
    display: flex;
  }
  .btn-primary{
    background-color:rgba(230, 83, 60, 1);
    font-weight:  600;
    font-size: 1.2rem;
    color: white;
}
 
/* nav style */
header{
    background-color: rgba(17, 17, 17, 0.95);
    padding: 50px 140px 50px 190px;
    width: 100%;
    

}
.gym-title{
    color: rgba(230, 83, 60, 1);
    font-weight:  800;
    font-style: italic;
    font-size: 2.12rem;
}
.navbar{
    justify-content: space-between;
    text-align: center;
    padding-top:61px;
     
}
.button{
    padding: 8px 20px;
    border-radius: 46px;
}
nav > ul{
    list-style: none;
    gap: 47px;
   
}
nav > ul > li > a{
    text-decoration: none;
    font-size:1rem;
    font-weight:  normal;
    color: white;
}
/* banner related style */
.banner{
    gap: 240px;
    /* margin-top: 97px; */
    justify-content: center;
    align-items: center;
    
}
.club-title{
    font-size: 78px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 28px;
}
.club-description{
    margin-bottom: 28px;
   font-size: 16px;
   font-weight: normal;
   opacity: 50%;
}
 
.join-button{
    border:none ;
    border-radius: 42px;
    padding: 16px 46.5px;
    margin-right: 14px;
}
.calculate-button{
    border:none ;
    border-radius: 42px;
    padding: 16px 70.5px;
    
}
.download-button{
    background-color:black;
    color: white;
    padding: 16px 48px;
    border: 1px solid rgb(255, 255, 255,0.7);
    border-radius: 42px;
    
}
.card-1{  
    position: absolute;
    width: 193px;
    height: 98px;   
    left: 1260px;
    top: 280px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 17px 3px 41px 40px;

}
.card-1-title{
    font-size: 40px;
    font-weight:  900;
    color: rgb(255, 255, 255);
}
.card-1-description{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.card-2{
position: absolute;
width: 206px;
height: 96px;
left: 930px;
top: 570px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
padding: 17px 24px 28px 17px;
justify-content: center;
align-items: center;
gap: 8px;
}
.card-2-title{
    font-size: 24px;
    font-weight:  900;
    color: #FAFAF9;
}
.card-2-description{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
.card-2 .circle{
    background-color: #E6533C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* change habits related style */
.bg-style{
    padding-top: 100px;
    background-color:rgba(17, 17, 17, 1);
    
}
.change-habit{
    padding-bottom: 100px;
    text-align: center;
}
.habit-title{
    font-weight:  900;
    font-size: 3rem;
    margin-bottom: 14px;
}
.habit-subtitle{
    font-size: 0.9rem;
    font-weight: normal;
    opacity: 50%;
    margin-bottom: 58px;
}
.habit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-left: 140px;
    margin-right: 140px;
     
}
.habit img{
    border-radius: 100%;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
}
.habit h4{
    font-size:1.12rem;
    font-weight:  600;
    padding-bottom: 6px;
}
.habit p{
    font-size: 0.95rem;
    font-weight:normal;
    opacity: 50%;
}
/* run related style */
.run{
    background-color: rgba(34, 34, 34, 1);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 18px;
    margin-bottom: 200px;
}
.run-extra-mile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
  
}
.run-text h2{
    font-weight:900;
    font-size: 48px;
    margin-bottom: 14px;
}
.run-text p{
    font-size: 14px;
    font-weight: normal;
    opacity: 50%;
    margin-bottom: 34px;
}
.run-text{
    padding:41px 0px 40px 100px;
}
.run-imag{
     
    padding: 30px 80px 29px 0px;
}
.run-imag img{
    width:400px;
    height: 312px;
    border-radius: 18px;
}
/* training related style */
.training{
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 58px;
   
}
.training-title{
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight:  900;
    
}
.training-subtitle{
    margin-bottom: 58px;
    
}
.row-1{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0px;
     padding: 0px;
}
.row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0px;
}
 
.img-container img{
    width: 100%;
    height: auto;
   
}
.imag1,.imag2,.imag3,.imag4,.imag5,.imag6{
    background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     align-items: center;
     justify-content: center;
}
.imag1{
     height: 201px;
     width: 310px; 
     background-image: 
     linear-gradient(to bottom,rgba(6, 255, 210, 0.5),transparent),
     linear-gradient(to top,rgba(6, 255, 210, 0.5),transparent),
     url('../images/exercise1.jpg');
       
}
.imag2{
     height: 201px;
     width: 570px;
     background-image: 
     linear-gradient(to bottom,rgba(255, 0, 0, 0.3),transparent),
     linear-gradient(to top,rgba(255, 0, 0, 0.3),transparent),
     url('../images/exercise2.png');
}
.imag3{
     height: 201px;
     width: 350px;
     background-image: 
     linear-gradient(to bottom,rgba(0, 0, 0, 0.5) ,transparent),
     linear-gradient(to top,rgba(0, 0, 0, 0.5) ,transparent),
     url('../images/exercise3.png');
}
.imag4{
     height: 201px;
     width: 475px;
     background-image: 
     linear-gradient(to bottom,rgba(0, 0, 0, 0.5) ,transparent),
     linear-gradient(to top,rgba(0, 0, 0, 0.5) ,transparent),
     url('../images/exercise4.png');
}
.imag5{
     height: 201px;
     width: 358px;
     background-image: 
     linear-gradient(to bottom, rgba(66, 255, 0, 0.3),transparent),
     linear-gradient(to top, rgba(66, 255, 0, 0.3),transparent),
     url('../images/exercise5.jpg');
}
.imag6{
    height: 201px;
    width: 397px;
     background-image: 
     linear-gradient(to bottom, rgba(0, 71, 255, 0.3),transparent),
     linear-gradient(to top,rgba(0, 71, 255, 0.3) ,transparent),
     url('../images/exercise6.jpg');
}
.imag1 p,.imag2 p,.imag3 p,.imag4 p,.imag5 p,.imag6 p{
    position: relative;
    font-size: 14px;
    font-weight: 500;
}
.imag1 p{
     top: 150px;
     left: 24px;
     color: black;
}
.imag2 p{
    top: 25px;
    right:-31px;
}
.imag3 p{
    top: 150px;
    left: 24px;
}
.imag4 p{
    top: 33px;
    left: 300px;
}
.imag5 p{
    top: 150px;
    left: 24px;
}
.imag6 p{
    top: 150px;
    left: 24px;
}
/* bmi calculate related style */
.calculate-text{
     margin: 88px 384px 100px 384px;
}
.calculate-title{
    font-size: 48px;
    font-weight:  900;
    margin-bottom: 14px;
}
.calculate-bmi{
    background-color: rgba(34, 34, 34, 1);
     width: 100%;
     height: auto;
     justify-content: space-around;
}
.chart-content{
    font-size: 28px;
    font-weight:  900;
}
.margin-style{
     margin: 52px 0px 52px 187px;
}
.input-form-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.input-form-one input,.input-form-one select,.input-form-two select{
    align-items: center;
    justify-content: center;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
 
.input-form-two select{
    margin-top: 12px;
    margin-bottom: 34px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}
.calculate table{
    margin: 52px 0px 52px 187px;
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    
}
.chart-two{
    margin: 52px 190px 52px 175px;
}
td,th{
     border: 2px solid rgba(255, 255, 255, 0.10);
     text-align: center;
     padding: 10px;
}
.chart-description{
    margin-top: 14px;
    margin-bottom: 34px;
}
 /* meet our team related style */
 .team{
    margin-top: 88px;
    padding-bottom: 66px;
 }
 .team-title{
    text-align: center;
    font-size: 3rem;
    font-weight:  900;
 }
 .team-description{
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;
 }
 .team-img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 220px;
    margin-right: 220px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 20px;
 }
.team-imag1,.team-imag2,.team-imag3,.team-imag4,.team-imag5,.team-imag6{
     width: 327px;
     height: 272px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 18px; 
}
.team-imag1{
    background-image:
     linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer1.png');
}
.team-imag2{
    background-image:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer2.png');
}
.team-imag3{
     background-image:
     linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer3.png');
}
.team-imag4{
     background-image:
     linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer4.png');
}
.team-imag5{
     background-image:
     linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer5.png'); 
}
.team-imag6{
     background-image:
     linear-gradient(to bottom,rgba(0, 0, 0, 0.2),transparent),url('../images/trainer6.png');
}
.tamwork-name{
    position:relative;
    width: 150px;
    top: 215px;
    left: 24px;
    color:white;
    font-size: 0.95rem;
    font-weight: 500;
}
/* footer related style */
footer{
    background-color:rgba(34, 34, 34, 1);
     width: 100%;
     height: auto;
}
.footer-container{
  padding:66px 190px 79px 190px;
  gap:160px ;
  align-items: left;
}
.footer-container a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}
.footer-container a:hover{
    color: #E6533C;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.95rem;
    font-weight: normal;
    padding-top: 20px;
}
.footer-content h4{
    padding-bottom: 20px;
    font-weight:  900;
    font-size: 1.5rem;
}
.footer-title{
    font-size: 3.80rem;
}
.line{
    margin-left: 190px;
    margin-right: 190px;
    border-color:rgba(255, 255, 255, 0.1);
}
.footer-last-topic{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 35px;
    font-weight: normal;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:576px) {
    .navbar,.banner,.habit,.run-extra-mile,.calculate-bmi,.footer-container{
        flex-direction: column;
    }
    .btn-secondary{
        display: flex;
        gap: 0px;

    }
    .join-button{
        padding: 10px;
         
    }
    .download-button{
        padding: 10px 18px 10px 18px;
        
    }
    header{
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
    }
    .navbar{
        padding-top:0px;
        padding-bottom: 20px;
        text-align: left;
        background-image:url('../images/icons8-menu-30.png');
        background-repeat: no-repeat;
        background-position: right;
         
    }
    .button{
        padding: 8px 20px;
        border-radius: 46px;
    }
    nav > ul > li > a{
         display: none;
        
    }
    .banner,.run-extra-mile{
        gap: 48px;
    }
    .banner-text{
        flex-direction: row;
       
    }
    .club-title{
        font-size: 2.25rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
        margin-bottom: 28px;
    }
    .club-description{
        margin-bottom: 28px;
       font-size: 16px;
       font-weight: normal;
       opacity: 50%;
    }
    .card-1{  
        
        width: 140px;
        height: 75px;   
        left: 220px;
        top: 480px;
        padding: 5px 10px 5px 10px;
    
    }
    .card-1-title{
        font-size: 1.5rem;
         
    }
    .card-1-description{
        font-size: 0.5rem;
        
    }
    .card-2{
    width: 151px;
    height: 69px;
    left: 31px;
    top: 757px;
    padding: 5px;
    }
    .card-2-title{
        font-size: 1.3rem;
    }
    .card-2-description{
        color: rgba(239, 237, 232, 0.65);
        font-size: 16px;
        font-weight: 400;
    }
    .card-2 .circle{
        background-color: #E6533C;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
     
    .run,.training,.calculate-text{
        margin: 66px 20px;
    }
    .chart-two,.calculate table,.margin-style{
        margin: 40px 20px;
    }
    .run-text{
        padding: 31px 33px;
    }
    .bg-style,.change-habit {
        padding-top: 0px;
        padding-bottom:0px;
    }
    .run-imag{
        padding: 33px;
    }
    .run-imag img{
        width: 100%;
        height: auto;
    }
    /* training related style */
    .imag1{
        height: 128px;
        width: 192px;
    }
    .imag2{
        height: 128px;
        width: 191px;
    }
    .imag4{
        height: 127px;
        width:171px ;
    }
    .imag5{
        height: 127px;
        width: 212px;
    }
    .imag3,.imag6{
        display: none;
    }
    .imag1 p,.imag4 p,.imag5 p{
        
         top: 100px;
         left: 20px;
    }
    .imag2 p{
        top: 20px;
        right: -82px;
        width: 100px;
    }
    .input-form-one input,.input-form-one select,.input-form-two select{
        
        width: 100%;
        height: auto;
    }
    .input-form-one input{
        font-size: 1rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.6);
    }
    .input-form-two select,.input-form-one select{
        color:rgba(255, 255, 255, 0.6);
        font-weight: normal;
        font-size: 1rem;
        
    }
    .input-form-two select >option,.input-form-one select >option{
         color: black;
    }
    .team-img-container{
         grid-template-columns: 1fr;
         margin-left: 10px;
         margin-right: 10px;
         padding: 20px;
         gap: 20px;
    }
    .habit-title,.run-text h2,.training-title,.calculate-title,.team-title{
        font-size: 2rem;
        font-weight: 900;
    }
    .chart-content{
        font-size: 1rem;
        font-weight:  900;
    }
    .margin-style{
        margin-top: 34px;
        margin-bottom: 23px;
    }
    /* footer related responsive */
    .footer-title{
        font-size: 3rem;
    }
    .footer-container{
         padding: 20px;
         gap: 20px;
    }
    .line{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
 